*{
  font-size: 16px;
}


.logo {
  flex: 5;
}


.flex-container {
  width: 100vw;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid blue;*/
}

.flex-container ul{
  flex: 12;
}

.flex-container .container {
  z-index: 1;
}

.container {
  width: 75vw;
  margin: auto;
}

strong {
  font-weight: bolder;
}

.top-bar {
  width: 100vw;
  height: 6vh;
  margin: 0 auto;
  display: flex;
  /*border: 1px solid red;*/
  background-color: #00CCB0;
  font-family: 'Source Sans Pro', sans-serif;
}

.top-bar li{
  display: inline;
  padding-right: 20px;
}

ul {
  margin: 0;
  padding: 10px;
}

li a {
  display: block;
  color: black;
  padding: 16px;
  font-family:'Raleway', sans-serif;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
}

.home-button {
  background-color: #FF1C20;
}

.home-button a:hover {
  background-color: #FF1C20;
}

.home-button a {
  color: white;
}

li a:hover {
  color: white;
}

a:hover {
    text-decoration: none;
    background-color: black;
}

.site-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background: #00CCB0;
  width: 100vw;
  height: 300px;
}

.clinic-info {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 100px;
  word-spacing: 5px;
  font-weight: bold;
  line-height: 120%;
}

.more-info {
  width: 40vw;
}

.newsletter {
  margin-top: 100px;
}
