
.logo {
  flex: 5;
}

.flex-container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid blue;*/
}

.flex-container ul{
  flex: 12;
}

.container {
  width: 75vw;
  margin: auto;
}

strong {
  font-weight: bolder;
}

.top-bar {
  width: 100vw;
  height: 6vh;
  margin: 0 auto;
  display: flex;
  /*border: 1px solid red;*/
  background-color: #00CCB0;
  font-family: 'Source Sans Pro', sans-serif;
}

.top-bar li{
  display: inline;
  padding-right: 20px;
}

nav ul {
  height:100%;
}

ul {
  margin: 0;
  padding: 10px;
}

li a {
  display: block;
  color: black;
  padding: 16px;
  font-family:'Raleway', sans-serif;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
}

.home-button {
  background-color: #FF1C20;
}

.home-button a {
  color: white;
}

li a:hover {
  border: 1px solid black;
}

/*footer {
  height: 18vh;
  border: 1px solid red;
}*/
